body,html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    line-height: 1 !important;
}
button,input,optgroup,select,textarea {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}