$y3d-black: rgb(33, 36, 41);
$y3d-white-dark: rgb(108, 114, 132);
$y3d-white-hover: rgb(230, 230, 230);
$y3d-border: rgb(44, 47, 54);
$y3d-sub-title: rgb(195, 197, 203);
$um-orange: rgb(244, 207, 31); // #F4CF1F
$um-text: rgb(35, 24, 21); // #231815
$um-orange-bg: #FAF5DC;
$um-line: #DBDBDB;
$y3d-blue: #0091FF;